* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #BFD8D2;
  color: #333;
}

.search-box {
  width: 600px;
  background: #fff;
  margin: 100px auto 0;
  border-radius: 5px;
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 18px;
  color: #333;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}

button .fa-solid {
  width: 25px;
  color: #DF744A;
  font-size: 22px;
  cursor: pointer;
}

::placeholder {
  color: #DF744A;
}

.reult-box {
  max-height: 300px;
  overflow-y: scroll;
}

.result-box ul {
  border-top: 1px solid #DCB239;
  padding: 15px 10px;
}

.result-box ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}

.result-box ul li:hover {
  background: #FEDCD2;
}